.container {
  display: flex;
  flex-direction: column;
  padding: 14px;
  text-align: center;
  background:#63B3ED;
}

.container_2{
  padding: 8;
  text-align: center;
  background: gray;
}


.footer_div{
  background: blue;
  padding: 0.9%;
}

h1, h2, h4, p{
  padding: 0;
  margin: 0;
}

p3{
margin-left:12%;
}

.img_container{
  border-radius:50px;
}



.headshot_img{
  padding: 0;
  margin: 0;
  border-radius: 60px;
  height:100px;
  width:100px;
}

.meditation_img{
  float: right;
  margin-right: 5%;
  width: 100px;
  height: 115px;
}

.food_img{
  float: left;
  margin-right: 1%;
  width: 140px;
  height: 120px;
}


main{
  float: left;
  width: 50%;
  margin-left: 10%;
  margin-top: 5%;
  background: pink;
  margin-bottom: 5%;
}

hr {
  display: block;
  border-width: 1px;
  color: black;
}

aside{
  float: right;
  width: 20%;
  margin-top: 5%;
  margin-right: 10%;
  background: green;
}

footer{
  float: bottom;
  clear: both;
}


